body { background-color: gray; }
h1 {font-family:Georgia;}
h1 {background-color:white;}
h1 {text-align:center;}
h1 { font-size:300%; }
h2 {font-family:verdana;}
h1 { color:midnightblue;}
h2 { color:darkBlue;}
h2 { font-size:200%;}
p  { font-size: 150%;}